<h1 class="text-4xl">Bienvernido a esta sección!!</h1>
<p>
  Aquí podrás ver todas tus reservas. Por favor, ingrsesa tuc correo electrónico.
</p>

<label class="input">
  <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2.5"
      fill="none"
      stroke="currentColor"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <path d="m21 21-4.3-4.3"></path>
    </g>
  </svg>
  <input type="search" class="grow" placeholder="Tu email" #inputEmail />
</label>
<button
  type="button"
  class="btn btn-neutral"
  (click)="clientEmail.set(inputEmail.value)"
>
  Buscar
</button>



