<form
  [formGroup]="reservationForm"
  (ngSubmit)="onSubmit()"
  class="grid grid-cols-2 gap-1"
>
  <label class="floating-label col-span-2">
    <input
      type="number"
      formControlName="numDiners"
      class="input input-sm validator w-full"
      required placeholder="Número de comensales"
      min="1" max="20"
      title="No pueden haber menos de 1 comensal ni más de 20" />
    <span>Número comensales</span>
  </label>

  <label class="floating-label">
    <input
      type="date"
      formControlName="date"
      class="input input-sm validator" required placeholder="Fecha"
      min="2025-01-01" max="2025-12-31"
      title="La fecha de ser después de hoy"
    />
  </label>

  <label class="floating-label">
    <input
      type="time"
      formControlName="hour"
      placeholder="Hora"
      class="input input-sm validator" required
      [class.input-error]="isInvalid('hour')"
      title="Solo se permiten reservas en cuartos de hora entre las 9:00 y 18:00 h"
    />
    <span>Hora</span>
  </label>
<!-- min="09:00"
      max="18:00"
      step="900" -->
  <h3 class="text-1xl col-span-2 ">Información del cliente</h3>

  <label class="floating-label col-span-2 ">
    <input
      type="text"
      formControlName="clientEmail"
      placeholder="Email"
      class="input input-sm validator w-full" required
    />
    <span>Email</span>
  </label>

  <label class="floating-label col-span-2 ">
    <input
      type="text"
      formControlName="clientFullName"
      placeholder="Nombre"
      class="input input-sm validator w-full" required
    />
    <span>Nombre</span>
  </label>

  <label class="floating-label col-span-2 ">
    <input
      type="tel"
      formControlName="clientPhone"
      class="input input-sm validator tabular-nums w-full"
      required placeholder="Teléfono"
      pattern="[0-9]*" minlength="9" maxlength="9" title="Deben ser 9 dígitos"
    />
    <span>Teléfono</span>
  </label>

  <div class="col-span-2 flex justify-center">
    <input type="submit" class="btn btn-neutral" value="Reservar" >
  </div>

</form>
@if(isInValid()) {
  <div role="alert" class="alert fixed right-3 bottom-3 alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <p class="font-bold">Por favor, ingrese correctamente los datos en el formulario</p>
    <ul>
      <li>Todos los campos son obligatorios</li>
      @if (reservationForm.get('date')?.errors?.['fechaInvalida']) {
      <li>La fecha no puede ser anterior a la actual</li>
      }
      <!--  -->
      @if (reservationForm.get('hour')?.errors?.['fueraDeRango']) {
      <li>Solo se permiten reservas entre las 9:00 y 18:00 h</li>
      }
      <!--  -->
      @if (reservationForm.get('date')?.errors?.['intervaloInvalido']) {
      <li>Solo se permiten reservas en cuartos de hora</li>
      }
    </ul>
  </div>
}
<!--  -->
@if(hasError()) {
  <div role="alert" class="alert fixed right-3 bottom-3 alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span class="w-3xs">
      Lo sentimos, este restaurante no tiene sitio para el día seleccionado. Le recomendamos intentar
      con una fecha distinta.
    </span>
  </div>
}
